

<div *ngIf="book" >
    <div *ngIf="book.id != undefined" class="container-fluid back-body">
        <div class="col-md-push-4 col-md-4">
            <button class="btn btn-default btn-xs btn-block back-body-main" (click)="close()"><b>Close</b></button>
            <div class="panel back-body-main">
                <div class="panel-title">
                    <h2 class="text-center">Book "{{ book.name | uppercase }}" Details</h2>
                </div>
                <div class="panel-body">
                    <div><b>Name: </b>{{book.name}}</div>
                    <div><b>Year of publishing: </b>{{book.yearOfPublishing}}</div>
                    <div><b>Year of writing: </b>{{book.yearOfWriting}}</div>
                    <div>
                        <b>Authors: </b>
                        <a *ngFor="let author of book.authors" routerLink="/author/{{author.id}}">{{author.name}} </a>
                    </div>
                    <div>
                        <b>Publishers: </b>
                        <a *ngFor="let publisher of book.publisher" routerLink="/publisher/{{publisher.id}}">{{publisher.name}} </a>
                    </div>
                </div>

            </div>
        </div>
        
    </div>
</div>
