<h1>Magazines</h1>
<p>
    <a class="btn-sm btn-success btn-block text-center " [routerLink]="['/admin/createMagazine']">Create New</a>
</p>
<p *ngIf="!magazines"><em>Loading...</em></p>

<div *ngIf="magazines">
    <table class='table table-bordered table-hover'>
        <thead>
            <tr>
                <th>Name</th>
                <th>YearOfPublishing</th>
                <th>Publishers</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let magazine of magazines.magazines">
                <td>{{ magazine.name }}</td>
                <td>{{ magazine.yearOfPublishing }}</td>
                <td><i *ngFor="let publisher of magazine.publisher">"{{ publisher.name }}" </i></td>
                <td>
                    <a class="btn-xs btn-info" [routerLink]="['/admin/magazineEdit/', magazine.id]">Edit</a> |
                    <a class="btn-xs btn-danger" [routerLink]="" (click)="delete(magazine.id)">Delete</a>
                </td>
            </tr>
        </tbody>
    </table>
    <app-pagination [pageInfo]="magazines.pageInfo"
                    (goPrev)="goPrevious()"
                    (goNext)="goNext()"
                    (goChangePerPage)="onChange($event)">
    </app-pagination>
</div>



