

<div *ngIf="author" >  

    <div class="panel back-body">
        <div class="panel-title">
            <h2 class="text-center">Author {{ author.name | uppercase }} Details</h2>
        </div>
        <div class="panel-body">
            <div><span>Name: </span>{{author.name}}</div>
            <div><span>Year Of Birth: </span>{{author.yearOfBirth}}</div>
            <div *ngIf="author.yearOfDeath != undefined"><span>Year Of Death: </span>{{author.yearOfDeath}}</div>
            <div *ngIf="author.books">
                <span>Books: </span>
                <a *ngFor="let book of author.books" (click)="onClick(book.id)">{{book.name}} </a>
            </div>

            <button class="btn-sm btn-default" (click)="goBack()">Back</button>
        </div>
    </div>

</div>

<app-book [bookId] ="selectedBookId"></app-book>