
<div *ngIf="publisher" >
    <div class="back-body panel">
        <div class="panel-title">
            <h2 class="text-center">Publisher {{ publisher.name | uppercase }} Details</h2>
        </div>
        <div class="panel-body">
            <div><b>Name: </b>{{publisher.name}}</div>
            <div><b>Year Of Opening: </b>{{publisher.yearOfOpening}}</div>
            <div *ngIf="publisher.newspapers">
                <b>Newspapers: </b>
                <a *ngFor="let newspaper of publisher.newspapers" (click)="onNewspaperClick(newspaper.id)">{{newspaper.name}} </a>
            </div>
            <div *ngIf="publisher.magazines">
                <b>Magazines: </b>
                <a *ngFor="let magazine of publisher.magazines" (click)="onMagazineClick(magazine.id)">{{magazine.name}} </a>
            </div>
            <div *ngIf="publisher.books">
                <b>Books: </b>
                <a *ngFor="let book of publisher.books" (click)="onBookClick(book.id)">{{book.name}} </a>
            </div>

            <button class="btn-sm btn-default" (click)="goBack()">Back</button>
        </div>
    </div>
    <app-book [bookId]="selectedBookId"></app-book>
    <app-magazine [magazineId]="selectedMagazineId"></app-magazine>
    <app-newspaper [newspaperId]="selectedNewspaperId"></app-newspaper>
</div>



