<h1>{{title}}</h1>
<h3>Publisher</h3>
<hr />
<form (ngSubmit)="save()" #authorForm="ngForm">

    <div class="form-group row">
        <label class=" control-label col-md-12" for="Name">Name</label>
        <div class="col-md-4">
            <input class="form-control" type="text" id="name"
                   required
                   [(ngModel)]="publisher.name" name="name"
                   #name="ngModel">
        </div>
        <div [hidden]="name.valid || name.pristine"
             class="alert alert-danger">
            Name is required
        </div>
    </div>
    <div class="form-group row">
        <label class="control-label col-md-12" for="YearOfOpening">YearOfOpening</label>
        <div class="col-md-4">
            <input class="form-control" type="number" id="yearOfOpening"
                   required
                   [(ngModel)]="publisher.yearOfOpening" name="yearOfOpening"
                   #yearOfOpening="ngModel">
        </div>
        <div [hidden]="yearOfOpening.valid || yearOfOpening.pristine"
             class="alert alert-danger">
            Year Of Opening is required
        </div>
    </div>
    <div class="form-group">
        <button type="submit" class="btn btn-success" [disabled]="!authorForm.form.valid || isRequesting">Save</button>
        <button class="btn" (click)="cancel()">Cancel</button>
    </div>
</form>
