<div class='main-nav'>
    <div class='navbar'>
        <div class='navbar-header'>
            <button type='button' class='navbar-toggle' data-toggle='collapse' data-target='.navbar-collapse'>
                <span class='sr-only'>Toggle navigation</span>
                <span class='icon-bar'></span>
                <span class='icon-bar'></span>
                <span class='icon-bar'></span>
            </button>
            <a class='navbar-brand' [routerLink]="['/home']">Vadim Goncharov's Library</a>
        </div>
        <div class='clearfix'></div>
        <div class='navbar-collapse collapse'>
            <ul class='nav navbar-nav'>
                <li [routerLinkActive]="['link-active']">
                    <a [routerLink]="['/home']">
                        <span class='glyphicon glyphicon-home'></span> Home
                    </a>
                </li>

                <li [routerLinkActive]="['link-active']">
                    <a [routerLink]="['/books']">
                        <span class='glyphicon glyphicon-list'></span> Books
                    </a>
                </li>
                <li [routerLinkActive]="['link-active']">
                    <a [routerLink]="['/magazines']">
                        <span class='glyphicon glyphicon-list'></span> Magazines
                    </a>
                </li>
                <li [routerLinkActive]="['link-active']">
                    <a [routerLink]="['/newspapers']">
                        <span class='glyphicon glyphicon-list'></span> Newspapers
                    </a>
                </li>
            </ul>
            <div class='clearfix'></div>
            <div class='navbar-collapse collapse'>
                <ul *ngIf="status" class="nav navbar-nav">
                    <li [routerLinkActive]="['link-active']">
                        <a class="nav-link" (click)="logout()" href="#">
                            <span class="glyphicon glyphicon-log-out"></span>Logoff
                        </a>
                    </li>
                    <li *ngIf="isAdmin()" [routerLinkActive]="['link-active']">
                        <a [routerLink]="['/admin']">
                            <span class='glyphicon glyphicon-certificate'></span>Admin
                        </a>
                    </li>
                </ul>
                <ul *ngIf="!status" class="nav navbar-nav">
                    <li [routerLinkActive]="['link-active']">
                        <a [routerLink]="['/register']">
                            <span class="glyphicon glyphicon-user"></span>Email signup
                        </a>
                    </li>
                    <li [routerLinkActive]="['link-active']">
                        <a [routerLink]="['/login']">
                            <span class="glyphicon glyphicon-log-in"></span>Email login
                        </a>
                    </li>
                </ul>
            </div>
    </div>
</div>
</div>
