<h1>Publishers</h1>

<p *ngIf="!publishers"><em>Loading...</em></p>

<p>
    <a class="btn-sm btn-success btn-block text-center " [routerLink]="['/admin/createPublisher']">Create New</a>
</p>
<div *ngIf="publishers">
    <table class='table table-bordered table-hover' >
        <thead>
            <tr>
                <th>Name</th>
                <th>YearOfOpening</th>
                <th>Publication</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let publisher of publishers.publishers">
                <td>{{ publisher.name }}</td>
                <td>{{ publisher.yearOfOpening }}</td>
                <td>
                    <span>Books:</span><i *ngFor="let book of publisher.books">"{{book.name}}" </i>
                    <span>Magazines:</span><i *ngFor="let magazine of publisher.magazines">"{{magazine.name}}" </i>
                    <span>Newspapers:</span><i *ngFor="let newspaper of publisher.newspapers">"{{newspaper.name}}" </i>
                </td>
                <td>
                    <a class="btn-xs btn-info" [routerLink]="['/admin/publisherEdit/', publisher.id]">Edit</a> |
                    <a class="btn-xs btn-danger" [routerLink]="" (click)="delete(publisher.id)">Delete</a>
                </td>
            </tr>
        </tbody>
    </table>
    <app-pagination [pageInfo]="publishers.pageInfo"
                    (goPrev)="goPrevious()"
                    (goNext)="goNext()"
                    (goChangePerPage)="onChange($event)">
    </app-pagination>
</div>
