<div class="navba">
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <ul class="nav navbar-nav">
                <li [routerLinkActive]="['link-active']">
                    <a [routerLink]="['/admin/books']">
                        <span class='glyphicon glyphicon-file'></span> Books
                    </a>
                <li [routerLinkActive]="['link-active']">
                    <a [routerLink]="['/admin/newspapers']">
                        <span class='glyphicon glyphicon-file'></span> Newspapers
                    </a>
                <li [routerLinkActive]="['link-active']">
                    <a [routerLink]="['/admin/magazines']">
                        <span class='glyphicon glyphicon-file'></span> Magazines
                    </a>
                <li [routerLinkActive]="['link-active']">
                    <a [routerLink]="['/admin/authors']">
                        <span class='glyphicon glyphicon-file'></span> Authors
                    </a>
                <li [routerLinkActive]="['link-active']">
                    <a [routerLink]="['/admin/publishers']">
                        <span class='glyphicon glyphicon-file'></span> Publishers
                    </a>
</ul>
        </div>
    </nav>
    <div class='body-content'>
            <router-outlet></router-outlet>
    </div>
</div>




