<h1>Vadim Goncharov's Library</h1>
<h4>Welcome to my library!</h4>
<p>Here you will find a large selection of:</p>
<ul>
    <li> <a [routerLink]="['/books']">Books</a></li>
    <li> <a [routerLink]="['/magazines']">Magazines</a></li>
    <li> <a [routerLink]="['/newspapers']">Newspapers</a></li>
</ul>
<p>Here you can:</p>
<ul>
    <li><strong>Download</strong> a book, magazine or publication</li>
    <li><strong>View</strong> brief information about the book, author and creator</li>
</ul>

