﻿.hovered
{
    transform: scale(1.15);
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    transition: 0.5s all;
    z-index: 1000;
}

img {
    width: 80%;
}

.magazine {
    border: 2px solid black;
    height: 300px;
    background-color: antiquewhite;
    padding: 7px 20px 7px 20px;
    margin: 10px 24px 10px 24px;
}