
<h1>{{title}}</h1>
<h3>Author</h3>
<hr />
<form (ngSubmit)="save()" #authorForm="ngForm">

    <div class="form-group row">
        <label class=" control-label col-md-12" for="Name">Name</label>
        <div class="col-md-4">
            <input class="form-control" type="text" id="name"
                   required
                   [(ngModel)]="author.name" name="name"
                   #name="ngModel">
        </div>
        <div [hidden]="name.valid || name.pristine"
             class="alert alert-danger">
            Name is required
        </div>
    </div>
    <div class="form-group row">
        <label class="control-label col-md-12" for="YearOfBirth">YearOfBirth</label>
        <div class="col-md-4">
            <input class="form-control" type="number" id="yearOfBirth" 
                   required
                   [(ngModel)]="author.yearOfBirth" name="yearOfBirth"
                   #yearOfBirth="ngModel">
        </div>
        <div [hidden]="yearOfBirth.valid || yearOfBirth.pristine"
             class="alert alert-danger">
            Year Of Birth is required
        </div>
    </div>
    <div class="form-group row">
        <label class="control-label col-md-12" for="YearOfDeath">YearOfDeath</label>
        <div class="col-md-4">
            <input class="form-control" type="number" id="yearOfDeath" 
                   [(ngModel)]="author.yearOfDeath" name="yearOfDeath">
        </div>
    </div>
    <div class="form-group">
        <button type="submit" class="btn btn-success" [disabled]="!authorForm.form.valid || isRequesting">Save</button>
        <button class="btn" (click)="cancel()">Cancel</button>
    </div>
</form>
