<h1>Authors</h1>

<div *ngIf ="message" class="alert alert-info" (click)="onMessageClick()">
    {{message}}
</div>

<p *ngIf="!authors"><em>Loading...</em></p>

<p>
    <a class="btn-sm btn-success btn-block text-center "[routerLink]="['/admin/createAuthor']">Create New</a>
</p>
<div *ngIf="authors">
    <table class='table table-bordered table-hover'>
        <thead>
            <tr>
                <th>Name</th>
                <th>YearOfBirth</th>
                <th>YearOfDeath</th>
                <th>Books</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let author of authors.authors">
                <td>{{ author.name }}</td>
                <td>{{ author.yearOfBirth }}</td>
                <td>{{ author.yearOfDeath }}</td>
                <td><i *ngFor="let book of author.books">"{{ book.name }}" </i></td>
                <td>
                    <a class="btn-xs btn-info" [routerLink]="['/admin/authorEdit/', author.id]">Edit</a> |
                    <a class="btn-xs btn-danger" [routerLink]="" (click)="delete(author.id)">Delete</a>
                </td>
            </tr>
        </tbody>
    </table>

    <app-pagination [pageInfo]="authors.pageInfo"
                    (goPrev)="goPrevious()"
                    (goNext)="goNext()"
                    (goChangePerPage)="onChange($event)">
    </app-pagination>
</div>
