<h1>Newspapers</h1>
<p>
    <a class="btn-sm btn-success btn-block text-center " [routerLink]="['/admin/createNewspaper']">Create New</a>
</p>
<p *ngIf="!newspapers"><em>Loading...</em></p>

<div *ngIf="newspapers">
    <table class='table table-bordered table-hover'>
        <thead>
            <tr>
                <th>Name</th>
                <th>YearOfPublishing</th>
                <th>Publishers</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let newspaper of newspapers.newspapers">
                <td>{{ newspaper.name }}</td>
                <td>{{ newspaper.yearOfPublishing }}</td>
                <td><i *ngFor="let publisher of newspaper.publisher" >"{{ publisher.name }}" </i></td>
                <td>
                    <a class="btn-xs btn-info" [routerLink]="['/admin/newspaperEdit/', newspaper.id]">Edit</a> |
                    <a class="btn-xs btn-danger" [routerLink]="" (click)="delete(newspaper.id)">Delete</a>
                </td>
            </tr>
        </tbody>
    </table>
    <app-pagination [pageInfo]="newspapers.pageInfo"
                    (goPrev)="goPrevious()"
                    (goNext)="goNext()"
                    (goChangePerPage)="onChange($event)">
    </app-pagination>
</div>


